<div class="register-form">
    <form action="/api/auth/register" method="post">
      <div class="form-control">
        <label for="username">Username</label>
        <input
          type="text"
          name="username"
          id="username"
          placeholder="Username"
        />
      </div>
      <div class="form-control">
        <label for="password">Password</label>
        <input
          type="password"
          name="password"
          id="password"
          placeholder="Password"
        />
      </div>
      <div class="form-control">
        <button type="submit" class="btn">Register</button>
      </div>
    </form>
  </div>